.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  display: flex;
  gap: 10px;
}

img {
  width: 200px;
  height: 100px;
}

button {
  border: none;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 10px;
}
